body{                         /*032426  93FF4B*/
    margin: 0px;
    padding: 0px;
    background-color: #032426;
}

nav{
    padding: 0% 5% 0% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    color:#fff;
    background-color:#032426 ;
}
.navlinks{
    display: flex;
    justify-content: space-between;
}
.navlinks a{
    padding: 10px;
    text-decoration: none;
    color: #fff;

}
.navlinks a:hover{
    color:#93FF4B;
}
.navlinks #home{
    text-decoration: overline;
}
#login-btn{
    font-size: 15px;
    padding: 10px;
    background-color: #93ff4bdd;
    color: #032426;
    border: none;
}
#login-btn:hover{
    background-color: #93FF4B;
}

#landing-page{
    display: flex;
    justify-content: center;
}
.intro-text{
    color: #fff;
    padding: 3% 1% 1% 10%;
    font-size: 20px ;
}
h3 #hello{
    font-size: 18px;
}
h3 #pudens{
    color: #93FF4B;
}
.intro-text p{
    font-size: 15px;
}
.landing-btn-cont{
    padding-top: 5%;
    display: flex;
    justify-content: space-between;
}

.landing-btn{
    font-size: 14px;
    padding: 10px;
    background-color: #93ff4bdd;
    color: #032426;
    border: none;
}
.landing-btn:hover{
    background-color: #93FF4B;
}
.portait-cont img{
    width: 80%;
    height: 80%;
}
.portait-cont{
    padding: 1% 0% 0% 10%;
    /* background-color: peru; */
}

#about-me{
    text-align: center;
}
/* .about-me h1{
    color:#93FF4B
} */
#about-me p{
    color: #fff;
}

#skills{
    padding-top: 1%;
    text-align: center;
}
/* .skills h1{
    color: #93FF4B;
} */
.cards-cont{
    display:flex;
    justify-content: space-evenly;
    color:#fff;
}
.card-logo i{
    font-size: 50px;
}

.section-headers{
    text-align: center;
    color: #93FF4B;
}
.works-cards-cont{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.works-card{
    display: flex;
    margin-bottom: 3%;
    background-color: aqua;
    width: fit-content;
}
.works-text{
    font-size: 25px;
    color: #fff;
    width: 30vw ;
}
.works-images img{
    width: 20vw;
    height: 100%;
}
#view-work-btn{
    width: 45%;
    background-color: #93FF4B;
    margin-left: 25%;
    margin-top: 7%;
    border: none;
    padding: 3%;
}
.work-features{
    list-style-type: none;
    align-items: left;
    padding-left: 8%;
}
.work-features li{
    margin: 0px;
    
}
.view-more-works{
    width: 10%;
    font-size: 100%;
    width: 10%;
    font-size: 15px;
    margin: auto;
    align-self: center;
    border: none;
    border: none;
    padding: 0.5%;
}

#my-blog{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.new-blog{
    display: flex;
    /* justify-content: center; */
    background-color: #93FF4B;
    width: 50vw;
    margin: auto;

}
#new-blog-image{
    width: 15vw;
    height: 100%;
}
.recent-blogs-cont{
    padding-top: 10px;
    width:54vw;
    display: grid;
    grid-template-columns: 10vw 10vw 10vw;
    background-color: aquamarine;
    margin: auto;
}
.recent-blog{
    flex: 1;
    flex-direction: column;
    background-color: aqua;
    width: fit-content;
    margin-left: 10px;
    /* margin-left: 2vw;     */
}
.recent-blog img{
    width: 17vw;
}
.recent-blog h4,p{
    padding-top: -10vh;
}
.recent-blog h4{
    font-size: 20px;
}
.recent-blog p{
    font-size: 18px;
}
.recent-blogs-cont{
    display: flex;
    align-items: center;
}


#contact-me{
    /* background-color: black; */
    color: #fff;
    flex: 1;
    padding: 40px 0px;

}
.m-main{
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    width: fit-content;
    align-self: center;
    margin: auto;
    border: solid 1px skyblue;

}
.contact-info{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    /* background-color: grey; */
    width: fit-content;
    padding: 10px 10vw 10px 5vw;
}
.send-message{
    /* background-color: burlywood; */
    width: 30vw;
}
#m-form{
    padding:30px 5vw;
}
.m-input{
    display: flex;
    flex-direction: column;
    padding: 3px 0px;
}
#m-submit{
    display: block;
    margin-left: auto;
    margin-right: 0px;
}
.socials{
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: space-between;
}

footer{
    text-align: center;
    color: #fff;
}

