@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fasthand&display=swap');

body{    
    font-family: "Quicksand",sans-serif;                     /*032426  93FF4B*/
    margin: 0;
    padding: 0;
    background-color: #fff;
    color:#000;
}

/*Start of header*/

nav{
    padding: 0% 5% 0% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    
    background-color:#fff ;
}
#logo{
    text-decoration: none;
    color: #000;
    font-family: "Fasthand",sans-serif;
}
#logo:visited{
    text-decoration: none;
    color: #000;
}
.navlinks{
    display: flex;
    justify-content: space-between;
    
}
.navlinks a{
    padding: 10px;
    text-decoration: none;
    color:#000 ;

}
.navlinks a:hover{
    color:#1975FF;
}
.navlinks #home{
    text-decoration: overline;
}
#login-btn{
    font-size: 15px;
    padding: 10px;
    background-color: #1975ff9d;
    color: #fff;
    border: none;
}
#login-btn:hover{
    background-color: #1975ff;
}
.linked-btn a{
    color: #fff;
    text-decoration: none;
}
.linked-btn a:visited{
    color: #fff;
    text-decoration: none;
}

/*End of header*/

#landing-page{
    display: flex;
    justify-content: center;
}
.intro-text{
    
    padding: 3% 1% 1% 10%;
    font-size: 20px ;
}
h3 #hello{
    font-size: 18px;
}
h3 #pudens{
    color: #1975FF;
}
.intro-text p{
    font-size: 15px;
}
.landing-btn-cont{
    padding-top: 5%;
    display: flex;
    justify-content: space-between;
}

.landing-btn{
    font-size: 14px;
    padding: 10px;
    background-color: #1975ffaa;
    color: #fff;
    border: none;
}
.landing-btn:hover{
    background-color: #1975FF;
}
.portait-cont img{
    width: 80%;
    height: 80%;
}
.portait-cont{
    padding: 1% 0% 0% 10%;
    /* background-color: peru; */
}

#about-me{
    display: flex;
    justify-content:center;
}

#about-me-img{
    width: 30vw;
    height: 40vh; 
}
#about-me-img img{
    width: 100%;
    height: 100%;
}
#about-me-text{
    margin-left: 3vw;
    margin-top: -3vh;
    width: 30vw;
    height: 40vh;
}

#skills{
    padding-top: 1%;
    text-align: center;
}
#skills-card-cont{
    display: grid;
    grid-template-columns: max-content max-content max-content;
    width: fit-content;
    /* background-color: #1975FF; */
    margin: auto;
    padding-right: 5vw;
    height: fit-content;
}
.skills-card{
    padding: 10px;
    margin-left: 5vw;
}
.skills-card i{
    font-size: 80px;
}
.skills-card p{
    font-size: 20px;
    font-weight: 500;
}
#arduino-logo{
    width: 90%;
    height: 80%;
}

.fa-html5{
    color: orangered;
}
.fa-css3-alt{
    color: #130FF0;
}
.fa-js{
    color: yellow;
}
.fa-git-alt{
    color: #F1502F;
}
.fa-c{
    color: #1975ff;
}
.section-headers{
    text-align: center;
    color: #1975FF;
}
.my-works-cont{
    display: flex;
    flex-direction: column;
}
.work-items-cont{
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: auto;
}
.work-item{
    width: 25vw;
    /* background-color: #1975ff; */
    height: fit-content;
    border: solid 1px #1975FF;
}
.work-item-img{
    width: 100%;
    height: 60%;
}
.work-item-img img{
    width: 100%;
    height: 100%;
}
.work-item-text{
    width: 90%;
    margin: -9px auto 0px auto;

}
.work-item-more{
    width: 30%;
    font-size: 80%;
    margin: 0px 30%;
    align-self: center;
    background-color: #1975FF;
   border: none;
   color: #fff;
   padding: 10px 1vw;
}
.view-more-btns{
   width: 10%;
   margin: 30px 45%;
   background-color: #1975FF;
   border: none;
   color: #fff;
   padding: 10px 1vw;
}

#my-blog article{
    border: solid 1px skyblue;
}
#my-blog{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.recent-blogs-cont{
    padding-top: 10px;
    width:80vw;
    display: grid;
    grid-template-columns: 15vw 15vw 15vw ;
    margin: auto;
}
.recent-blog{
    display: flex;
    flex-direction: column;
    margin-left: .5vw;
    height:fit-content;
    width: 25vw ;
    font-size: .7vw;
    padding-bottom: 1vh;
}
.recent-blog-main{
    margin:auto;
    margin-top: 2vh;
    /* background-color: #1975FF; */
    width: 90%;
}
.recent-blog-analytics{
    display:flex;
    justify-content: space-around;
    margin-top: -5vh;
    font-size: 5px;
    color: #000;
}
.recent-blog img{
    width: 100%;
    height: 50%;
}
.recent-blog-title{
   display:contents; 
   color: #1975FF;
   font-size: 40px;
}
.recent-blog h4{
    font-size: 20px;
}
.recent-blog p{
    font-size: 18px;
}
.recent-blogs-cont{
    display: flex;
    align-items: center;
}
.linked-text a{
    display:contents; 
   color: #1975FF;
   text-decoration: none;
}
.linked-text a:visited{
    display:contents; 
   color: #1975FF;
   text-decoration: none;
}

.view-more-blogs{
    margin-top: 2vh;
    width: 8vw;
    height: 5vh;
    background-color: #1975FF;
    border: none;
    color: #fff;
}

#contact-me{
    flex: 1;
    padding: 6vh 5vw;
    color: #1975FF;

}
.m-main{
    display: flex;
    justify-content: center;
    width: fit-content;
    align-self: center;
    margin: auto;
    border: solid 1px skyblue;

}
.contact-info{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    color: #000;
    width: 15vw;
    padding: 1vh 10vw 5vh 5vw;
}
p i{
    color: #1975ff;
}
.send-message{
    width: 30vw;
}
#m-form{
    padding:30px 5vw;
}
.m-input{
    display: flex;
    flex-direction: column;
    padding: 3px 0px;
}
#m-submit{
    display: block;
    margin-left: auto;
    margin-right: 0px;
    background-color: #1975FF;
    border: none;
    color: #fff;
    padding: 1vh;
}
.socials{
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: space-between;
    color: #1975FF;
}

footer{
    text-align: center;
    background-color: #1975FF;
    color: #fff;
    padding: 10px;
}


/* 768px and 360 responsiveness*/

@media screen and (max-width:360px){

}

@media screen and (max-width:768px){
  nav{
    flex-direction: column;
    margin-left: 1px;
    align-items: flex-start;
    transform: translateX(-250px) ;
  }  
  .navlinks{
    background-color: skyblue;
    flex-direction: column;
    width: 0px;
    height: 0px;
  }
}