@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fasthand&display=swap');

body{    
    font-family: "Quicksand",sans-serif;                     /*032426  93FF4B*/
    margin: 0;
    padding: 0;
    background-color: #fff;
    color:#000;
}

/*Start of header*/

nav{
    width: 100%;
}
.nav-cont{
    padding: 0% 5% 0% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.dropdown-menu{
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 80px;
    right: 0vw;
    background-color: #908766;
    backdrop-filter: blur(10px);
    overflow: hidden;
    height: 0;
    transition: height .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#menu-btn{
    display: none;
}
.dropdown-menu.open{
    height: fit-content;
}
.dropdown-menu li{
    padding: .5vh .1vw;
    display: flex;
    align-items:center;
    justify-content: center;
    width: 30vw;
}
#logo{
    text-decoration: none;
    color: #000;
    font-family: "Fasthand",sans-serif;
}
#logo:visited{
    text-decoration: none;
    color: #000;
}
.navlinks{
    display: flex;
    justify-content: space-between;
    
}
.navlinks a,
li a{
    padding: 10px;
    text-decoration: none;
    color:#000 ;

}
.navlinks a:hover,
li a:hover{
    color:#1975FF;
}
.navlinks #home{
    text-decoration: overline;
}
#login-btn,
#login-btn2{
    font-size: 15px;
    padding: 10px;
    background-color: #1975ff9d;
    color: #fff;
    border: none;
}

#login-btn:hover,
#login-btn2:hover{
    background-color: #1975ff;
}
.linked-btn a,
.linked-btn2 a{
    color: #fff;
    text-decoration: none;
}
.linked-btn a:visited,
.linked-btn2 a:visited{
    color: #fff;
    text-decoration: none;
}

/*End of header*/

#landing-page{
    display: flex;
    justify-content: center;
}
.intro-text{
    
    padding: 3% 1% 1% 10%;
    font-size: 20px ;
}
h3 #hello{
    font-size: 1.5vw;
}
h3 #pudens{
    color: #1975FF;
}
.intro-text p{
    font-size: 1.2vw;
}
.landing-btn-cont{
    padding-top: 5%;
    display: flex;
    justify-content: space-between;
}

.landing-btn{
    font-size: 14px;
    padding: 10px;
    background-color: #1975ffaa;
    color: #fff;
    border: none;
}
.landing-btn:hover{
    background-color: #1975FF;
}
.portait-cont img{
    width: 80%;
    height: 80%;
}
.portait-cont{
    padding: 1% 0% 0% 10%;
    /* background-color: peru; */
}

#about-me{
    display: flex;
    justify-content:center;
}
.about-me-alt{
    display: none;
}
#about-me-img{
    width: 30vw;
    height: inherit; 
}
#about-me-img img{
    width: 100%;
    height: 100%;
}
#about-me-text{
    margin-left: 3vw;
    margin-top: -3vh;
    width: 30vw;
    height: fit-content;
    font-size: 1.2vw;
}

#skills{
    padding-top: 1%;
    text-align: center;
}
#skills-card-cont{
    display: grid;
    grid-template-columns: max-content max-content max-content;
    width: fit-content;
    /* background-color: #1975FF; */
    margin: auto;
    padding-right: 5vw;
    height: fit-content;
    font-size: 1.5vw;
}
.skills-card{
    padding: 10px;
    margin-left: 5vw;
}
.skills-card i{
    font-size: 5vw;
}
.skills-card p{
    
    font-weight: 500;
}
#arduino-logo{
    width: 63%;
    height: 50%;
}

.fa-html5{
    color: orangered;
}
.fa-css3-alt{
    color: #130FF0;
}
.fa-js{
    color: yellow;
}
.fa-git-alt{
    color: #F1502F;
}
.fa-c{
    color: #1975ff;
}
.section-headers{
    text-align: center;
    color: #1975FF;
}
.my-works-cont{
    display: flex;
    flex-direction: column;
}
.work-items-cont{
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: auto;
}
.work-item{
    width: 25vw;
    /* background-color: #1975ff; */
    height: fit-content;
    border: solid 1px #1975FF;
    font-size: 1.5vw;
}
.work-item-img{
    width: 100%;
    height: 60%;
}
.work-item-img img{
    width: 100%;
    height: 100%;
}
.work-item-text{
    width: 90%;
    margin: -1vh auto 0px auto;

}
.work-item-more{
    width: 10vw;
    font-size: 80%;
    margin: 0px 7vw;
    align-self: center;
    background-color: #1975FF;
   border: none;
   color: #fff;
   padding: 1vh 1vw;
}
.view-more-btns{
   width: 12vw;
   margin: 30px 45%;
   background-color: #1975FF;
   border: none;
   color: #fff;
   padding: 1.5vh .8vw;
}

#my-blog article{
    border: solid 1px skyblue;
}
#my-blog{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.recent-blogs-cont{
    padding-top: 10px;
    width:80vw;
    display: grid;
    grid-template-columns: 15vw 15vw 15vw ;
    margin: auto;
}
.recent-blog{
    display: flex;
    flex-direction: column;
    gap: .1vh;
    margin-left: .5vw;
    height:fit-content;
    width: 25vw ;
    font-size: .5vw;
    
}
.recent-blog-main{
    margin:auto;
    margin-top: 2vh;
    /* background-color: #1975FF; */
    width: 90%;
}
.recent-blog-analytics{
    display:flex;
    justify-content: space-around;
    margin-top: 0vh;
    font-size: 1.2vw;
    color: #000;
}
.recent-blog img{
    width: 100%;
    height: 50%;
}
.recent-blog-title{
   display:contents; 
   color: #1975FF;
   font-size: 40px;
}
.recent-blog h4{
    font-size: 20px;
}
.recent-blog p{
    font-size: 18px;
}
.recent-blogs-cont{
    display: flex;
    align-items: center;
}
.linked-text a{
    display:contents; 
   color: #1975FF;
   text-decoration: none;
}
.linked-text a:visited{
    display:contents; 
   color: #1975FF;
   text-decoration: none;
}

.view-more-blogs{
    margin-top: 2vh;
    width: 8vw;
    height: 5vh;
    background-color: #1975FF;
    border: none;
    color: #fff;
}

#contact-me{
    flex: 1;
    padding: 6vh 5vw;
    color: #1975FF;
    width: 80%;
}
.m-main{
    display: flex;
    justify-content: center;
    width: fit-content;
    align-self: center;
    margin: auto;
    border: solid 1px skyblue;

}
.contact-info{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    color: #000;
    width: 15vw;
    padding: 1vh 10vw 5vh 5vw;
}
p i{
    color: #1975ff;
}
.send-message{
    width: 30vw;
}
#m-form{
    padding:30px 5vw;
}
.m-input{
    display: flex;
    flex-direction: column;
    padding: 3px 0px;
}
#m-submit{
    display: block;
    margin-left: auto;
    margin-right: 0px;
    background-color: #1975FF;
    border: none;
    color: #fff;
    padding: 1vh;
}
.m-error{
   background-color: wheat;
    color: red;
    border-radius: 10px;
    padding: 0 5%;
    font-size: 12px;
}
.m-input input:focus{
    outline: 0;
}
.success{
    border: solid 2px greenyellow;
}
.error{
    border:solid 2px red ;
}
.show-success{
    color: green;
    background-color: wheat;
    border-radius: 10px;
    padding: 0 5%;
    font-size: 12px;
}
.socials{
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: space-between;
    color: #1975FF;
}

footer{
    text-align: center;
    background-color: #1975FF;
    color: #fff;
    padding: 10px;
}


/* 768px and 360 responsiveness*/

/* @media screen and (max-width:360px){

}
*/

@media screen and (max-width:680px){
    #landing-page{
        display: none;
        flex-direction: column-reverse;
        justify-content: center;
        margin: auto;
    }
    .intro-text{
            padding: 3% .1% 1% 2%;
            font-size: 1.2vw ;
            width: 80%;
        }
    #about-me{
        display: flex;
        width: 90%;
        margin: auto;
    }
    #about-me-img{
        display: none;
        overflow: hidden;
        background-color: #1975FF
    }
    #about-me-text{
        display: none;
    }
    .about-me-alt{
        display: flex;
        flex-direction: column;
        font-size:4vw ;
    }
    .about-me-alt h1{
        text-align: center;
        color: #1975FF;
    }
    .skills-card i{
        font-size: 10vw;
    }
    .skills-card p{
        font-size: 4vw;
        font-weight: 500;
    }
    #arduino-logo{
        width: 63%;
        height: 50%;
    } 
    .work-items-cont{
        display: flex;
        justify-content: space-around;
        width: 90%;
        margin: auto;
    } 
    .work-item{
        width: 40%;
        /* background-color: #1975ff; */
        height: fit-content;
        border: solid 1px #1975FF;
        font-size: 4vw;
    }   
    .view-more-btns{
   width: 12vw;
   margin: 30px 45%;
   background-color: #1975FF;
   border: none;
   color: #fff;
   padding: 1.5vh .1vw;
} 
.recent-blogs-cont{
    padding-top: 10px;
    width:80vw;
    display: flex;
    flex-direction: column;
    margin: auto;
    
}
.recent-blog{
    display: flex;
    flex-direction: row;
    gap: .1vh;
    margin-left: .5vw;
    height:fit-content;
    width: 100% ;
    font-size: .1vw;
    
}
.recent-blog-main{
    margin:auto;
    margin-top: 2vh;
    /* background-color: #1975FF; */
    width: 50%;
    font-size: 0.1px;
}
.recent-blog-analytics{
    display:flex;
    justify-content: space-around;
    margin-top: 0vh;
    font-size: .2vw;
    color: #000;
}
.recent-blog img{
    
    width: 40%;
    height: 14vh;
}
.recent-blog-title{
   display:contents; 
   color: #1975FF;
   font-size: 40px;
}
.recent-blog h4{
    font-size: 3.5vw;
}
.recent-blog p{
    font-size: 2.5vw;
}
.recent-blogs-cont{
    display: flex;
    align-items: center;
}



#contact-me{
    flex: 1;
    margin: 0;
    padding: 0;
}
.m-main{
    display: flex;
    flex-direction: column;
    width: 90%;
    border: solid 1px skyblue;
    padding: 0px;
    margin: 0px;
}
.formal-contacts{
    align-self: center;

}
.contact-info{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    color: #000;
    width: 80%;
    padding: 1vh 0vw 5vh 0vw;
    /* align-content: center; */
}
p i{
    color: #1975ff;
}
.send-message{
    width: 80%;
    align-self: center;
}
#m-form{
    padding:30px 1vw;
    
}
.m-input{
    display: flex;
    flex-direction: column;
    padding: 5px 2px;
    margin: 2px 1px;
}
#m-submit{

    display: block;
    margin-left: auto;
    margin-right: 0px;
    background-color: #1975FF;
    border: none;
    color: #fff;
    padding: 1vh;
}
.socials{
    display: flex;
    justify-content: space-between;
    color: #1975FF;
    align-self: center;
}
.socials i{
    margin-left: 5vw;
}
}

@media screen and (max-width:768px){
/*Start of header*/

    .navlinks,
#login-btn{
    display: none;
}
#menu-btn{
    display: block;
}
.dropdown-menu{
    display: block;
}

/*End of header*/

#landing-page{
    display: flex;
    /* flex-direction: column-reverse; */
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
}
.intro-text{
    
    padding: 3% 5% 1% 5%;
    font-size: 20px ;
}
h3 #hello{
    font-size: 18px;
}
h3 #pudens{
    color: #1975FF;
}
.intro-text p{
    font-size: 15px;
}
.landing-btn-cont{
    padding-top: 2%;
    display: flex;
    justify-content: space-around;
}

.landing-btn{
    font-size: 14px;
    padding: 10px;
    background-color: #1975ffaa;
    color: #fff;
    border: none;
}
.landing-btn:hover{
    background-color: #1975FF;
}
.portait-cont img{
    width: 80%;
    height: 80%;
}
.portait-cont{
    padding: 1% 0% 0% 10%;
    /* background-color: peru; */
}
#about-me{
    display: flex;
    justify-content:center;
    width: 80%;
    margin:auto
}

#about-me-img{
    width: 40vw;
    height: inherit; 
    background-color: #F1502F;
}
#about-me-img img{
    width: 100%;
    height: 100%;
}
#about-me-text{
    margin-left: 3vw;
    margin-top: -1vh;
    width: 30vw;
    height: fit-content;
}
.work-item-more{
    width: 50%;
    font-size: 100%;
    margin: 0px 25%;
    align-self: center;
    background-color: #1975FF;
   border: none;
   color: #fff;
   padding: .1vh 1vw;
}
.view-more-btns{
   width: 12%;
   margin: 2vh 44%;
   background-color: #1975FF;
   border: none;
   color: #fff;
   padding: .5vh 1vw;
}
#contact-me{
    flex: 1;
    padding: 6vh 5vw;
    color: #1975FF;
    width: 100%;
}
} 

