body{                         /*032426  93FF4B*/
    margin: 0px;
    padding: 0px;
    background-color: #032426;
}
/* Start of header */
nav{
    padding: 0% 5% 0% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    color:#fff;
    background-color:#032426 ;
}

.navlinks{
    display: flex;
    justify-content: space-between;
}
.navlinks a{
    padding: 10px;
    text-decoration: none;
    color: #fff;

}
.navlinks a:hover{
    color:#93FF4B;
}
.navlinks #home{
    text-decoration: overline;
}
#login-btn{
    font-size: 15px;
    padding: 10px;
    background-color: #93ff4bdd;
    color: #032426;
    border: none;
}
#login-btn:hover{
    background-color: #93FF4B;
}

/* End of header */

.blog-cont{
    display: flex;
    justify-content: space-around;
    width: 80vw;
    margin: 0px 5vw 0px auto;
    color: #fff;
    overflow: hidden;
}
.blog-main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 58vw;
    background-color: burlywood;
    margin-right: 1vw;
}

.blog-main-title{
    color: blue;
}
.blog-main-body{
    padding:0px 3%
}
.blog-main-img{
    width: 100%;
    height:50vh;
    background-color: fuchsia;
}
.blog-main-img img{
    width: 100%;
    height: 100%;
}

.scrollable{
    height: 100vh;
    overflow-y: auto;
}
.scrollable::-webkit-scrollbar{
    display: none;
}


.blog-comments{
    /* display: flex; */
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
    background-color:silver;
    width: 10vw;
    
}


.blog-comments h2{
    text-align: center;
}
.comment-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aqua;
}
.comments-cont{
    display: flex;
    flex-direction: column;
    background-color: gray;
}
.comment-header{
    display: flex;
    justify-content: space-between;
    background-color: tomato;
    height: fit-content;
    font-size: 11px;
}
.c-name{
    display: flex;
}
#p-pic{
    display: inline-block;
    width:80% ;
    height: 100%;
    background-color: gray;
    padding: 1px;
    border-radius: 50%;
    margin: 0px 5px;
    text-align: center;
}
.comment-item{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: wheat;
    margin-top: 1vh;
    padding: 0px 1vw;
}
.comment-body{
    margin: 0;
    background-color: yellowgreen;
}
.comment-analytics{
    display: flex;
    justify-content: space-evenly;
}

.comment-space-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    margin: auto;
    border: solid 1px gray;
    padding: 2%;
    margin-bottom: 20%;
}
#comment-send{
    width: 48%;
    margin-right: 0px;
    margin-left: auto;
}

