body{
    padding: 0;
    margin: 0;
}
header{
    color: #1975FF;
    padding: 0px 40px;
}
.login-container{
    display:flex;
    justify-content: center;
    width: 90vw;
    margin: auto;
}
.welcome-text{
     display: flex;
    justify-content: center;
    flex-direction: column; 
    text-align: center;
    width: 25vw;
    color:#1975FF;
    font-size: 50px;
    padding: 10vh 5vw;
}

.login-form{
    padding:10vh 1vw;
    background-color: #1975FF;
    align-content: center;
    width: 25vw;
    color: #fff;
    height: 50vh;
}
.login-form i{
    color: #1975FF;
}
.login-form input{
    width: 90%;
    border: none;
}
.auth-forms{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.input-field-cont{
    padding: 1vh 1vw;
    width: 70%;
}
.input-field{
    padding: 1vh .2vw;
    background-color: #fff;
    width: 100%;
}
#submit-btn{
    margin-top: 4vh;
    font-size: 1.1vw;
    padding: 2vh;
    background-color: #4844FC;
    border: none;
    color: #fff;
}
.login-from-login a{
    color: #fff;
    font-weight: 700;
}
.login-from-login a:visited{
    color: #fff;
    font-weight: 700;
}



/* 768px and 360 responsiveness*/

@media screen and (max-width:768px) {
    .welcome-text{
        display: none;
    }
    .login-form{
        padding:5vh 0px 1vw 0px;
        background-color: #1975FF;
        align-content: center;
        width: 50vw;
        color: #fff;
        height: 40vh;
        margin-bottom: 0;
        margin-top: 10vh;
        font-size: 2.8vw;
    }
    .input-field-cont{
        padding: 1vw;
        width: 60%;
        height: 50%;
    }
    .input-field{
        padding: .5vh .1vw;
        background-color: #fff;
        width: 100%;
        font-size: 2.1vw;
    }
    #submit-btn{
        margin-top: 4vh;
        font-size: 2.1vw;
        padding: 1vh;
        background-color: #4844FC;
        border: none;
        color: #fff;
    }
}

@media screen and (max-width:360px) {
    .welcome-text{
        display: none;
    }
    .login-form{
        padding:5vh 0px 0vw 0px;
        background-color: #1975FF;
        align-content: center;
        width: 60vw;
        color: #fff;
        height: 35vh;
        margin-bottom: 0;
        margin-top: 10vh;
        font-size: 3vw;
    }
    .input-field-cont{
        padding: 1vw;
        width: 60%;
        height: 80%;
    }
    #submit-btn{
        margin-top: 4vh;
        font-size: 12px;
        padding: 1vh;
        background-color: #4844FC;
        border: none;
        color: #fff;
    }
    .input-field{
        padding: 0px .01vw;
        background-color: #fff;
        width: 100%;
        font-size: 2.1vw;
    }
}