body{                       /*032426  93FF4B*/
    margin: 0;
    padding: 0;
    background-color: #fff;
}
button{
    background-color: #1975ff;
    color: #fff;
    border: none;
}
.d-nav{
    display: flex;
    justify-content: space-around;
    border-bottom: gray solid 2px;
    color: #fff;
}
#d-drop-left{
    height: fit-content;
    align-self: baseline;
    font-size: 2.5vw;
    display: none;
    
    }
    #d-drop-left i{
        color: #000;
        align-self: baseline;
    }
    .drop-menu{
        background-color: rgba(0, 183, 255, 0.797);
        display: none;
        flex-direction: column;
        color: #1975ff;
        width: fit-content;
        padding: 0vh 1vw;
        height: 0px;
        overflow: hidden;
        border-right: 1px #1975ff solid;
        height: 0px;
        overflow: hidden;
        position: fixed;
        top: 10vh;
        left: 0;
    }
    .drop-menu.open{
        height: fit-content;
    }
.d-logo{
    color: #1975ff;
    width: 10vw;
    align-self: flex-end;
    font-size: 5vh;
}
.d-middle-header{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    width: 50%;
    color: #1975ff;
}
.d-middle-header button{
    height: 50%;
    align-self: flex-end;
}

.d-user-info{
    display: flex;
    justify-content: center;
    height: 10vh;
    width: 19vw;
    color: #1975ff;
    font-weight: 900;
}

.d-cont{
    display: flex;

}
.d-menu{
    display: flex;
    flex-direction: column;
    padding: 5vh 2.5vw;
    color: #1975ff;
    width: 12vw;
    height: 100%;
    border-right: 1px #1975ff solid;
    /* background-color: forestgreen; */
}
.d-menu-item{
    display: flex;
    margin:2vh 0px;
}
#d-logout{
    color: red;
    margin-top:10vh;
    margin-right: 0;
    margin-left: auto;
}
/*uninjected*/
.a-title-cont{
display: flex;
justify-content: flex-start;
align-content: baseline;
/* background-color: aquamarine; */
}
.manage-icons{
    margin-left: 15vw;
    display: flex;
    justify-content: space-between;
    /* background-color: rebeccapurple; */
}
.manage-icons i{
    font-size: 2vw;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1vw;
}
.manage-icons .fa-square-pen{
    color: green;
}
.manage-icons .fa-trash{
    color: red;
}
/*Injected*/
.blog-main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 58vw;
    color: #000;
    margin-right: 1vw;
    padding-top: 5vh;
}

.blog-main-title{
    color: blue;
}
.blog-main-body{
    padding:0px 3%
}
.blog-main-img{
    width: 100%;
    height:50vh;
}
.blog-main-img img{
    width: 100%;
    height: 100%;
}

.scrollable{
    height: 100vh;
    overflow-y: auto;
}
.scrollable::-webkit-scrollbar{
    display: none;
}


.blog-comments{
    /* display: flex; */
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
    width: 10vw;
    color: #000;
}


.blog-comments h2{
    text-align: center;
    border-bottom: solid 2px #1975FF;
    
}
.comment-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.comments-cont{
    display: flex;
    flex-direction: column;
}
.comment-header{
    display: flex;
    justify-content: space-between;
    height: fit-content;
    font-size: 11px;
}
.c-name p{
    color: #1975FF;
}
.c-name{
    display: flex;
}
#p-pic{
    display: inline-block;
    width:80% ;
    height: 100%;
    background-color: gray;
    padding: 1px;
    border-radius: 50%;
    margin: 0px 5px;
    text-align: center;
}
.comment-item{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 1vh;
    padding: 0px 1vw;
    border: solid 1px #1975FF;
}
.comment-body{
    margin: 0;
}
.comment-analytics{
    display: flex;
    justify-content: space-evenly;
    color: #1975FF;
}

.comment-space-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    margin: auto;
    border: solid 1px gray;
    padding: 2%;
    margin-bottom: 20%;
}
#comment-send{
    width: 48%;
    margin-right: 0px;
    margin-left: auto;
    background-color: #1975FF;
    color: #fff;
    border: none;
}