body{                         /*032426  93FF4B*/
    margin: 0;
    padding: 0;
    background-color: #fff;
    color:#000;
}


/*Start of header*/

nav{
    padding: 0% 5% 0% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    
    background-color:#fff ;
}

.navlinks{
    display: flex;
    justify-content: space-between;
    
}
.navlinks a{
    padding: 10px;
    text-decoration: none;
    color:#000 ;

}
.navlinks a:hover{
    color:#1975FF;
}
.navlinks #home{
    text-decoration: overline;
}
#login-btn{
    font-size: 15px;
    padding: 10px;
    background-color: #1975ff9d;
    color: #fff;
    border: none;
}
#login-btn:hover{
    background-color: #1975ff;
}
.linked-btn a{
    color: #fff;
    text-decoration: none;
}
.linked-btn a:visited{
    color: #fff;
    text-decoration: none;
}

/*End of header*/

.new-blog{
    display: flex;
    justify-content: center;
    width: 55vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    height: 35vh;
    /* border: solid 1px #1975FF; */
    align-self: center;
}
.new-blog-img{
    height: 100%;
}
.new-blog-img img{
    height: 100%;
    width: 100%;
}
.new-blog-text-cont{
    width: 37vw;
}
#new-blog-text{
    inline-size: 100%;
    margin-left: 1vw;
    margin-top: -3vh;
}
#new-blog-more{
    margin: 5.7vh 0px 0px 1vw;
    color: #fff;
    background-color: #1975FF;
    border: none;
    padding: 5px;
}

#all-blogs-cont{
   display: grid; 
   grid-template-columns: 19vw 19vw 19vw;  
} 
.blog-article-summary{
    display: flex;
    flex-direction: column;
    width: 17vw;
    font-size: 11px;
    height: fit-content;
    margin-left: 22vw;
    margin-top: 2vw;
    border: solid 1px skyblue;
    color: #1975FF;
}
.blog-img img{
    width: 100%;
    height: 50%;
}
.blog-summary-analytics{
    display: flex;
justify-content: space-around;
}
.blog-summary{
    padding:0px 1vw;
}
.blog-summary-text p{
    color: #000;
}
