@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fasthand&display=swap');
body{                       /*032426  93FF4B*/
    font-family: "QUicksand",sans-serif;
    margin-left: 1vw;
    padding: 0;
    background-color: #fff;
}
button{
    background-color: #1975ff;
    color: #fff;
    border: none;
}

/*Start of header*/
.d-nav{
    display: flex;
    justify-content: space-evenly;
    border-bottom: gray solid 2px;
    align-items: baseline;
    color: #fff;
}
#d-drop-left{
height: fit-content;
align-self: baseline;
font-size: 2.5vw;
display: none;

}
#d-drop-left i{
    color: #000;
    align-self: baseline;
}
.drop-menu{
    background-color: rgba(0, 183, 255, 0.797);
    display: none;
    flex-direction: column;
    color: #1975ff;
    width: fit-content;
    padding: 0vh 1vw;
    height: 0px;
    overflow: hidden;
    border-right: 1px #1975ff solid;
    height: 0px;
    overflow: hidden;
    position: fixed;
    top: 10vh;
    left: 0;
}
.drop-menu.open{
    height: fit-content;
}
.d-logo{
    font-family: "Fasthand",sans-serif;
    /* color: #1975ff; */
    color: #000;
    width: 12vw;
    align-self: flex-end;
    font-size: 5vh;
}
.d-middle-header{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    width:60vw;
    color: #1975ff;
    /* background-color: gray; */
    align-self: center;
    margin-left: 1.5vw;
}
.d-middle-header h1{
    margin-left: 35%;
} 
#user-img{
    border-radius: 50%;
}
.d-middle-header button{
    height: 50%;
    align-self: flex-end;
}

.d-user-info{
    display: flex;
    justify-content: center;
    height: 10vh;
    width: 19vw;
    color: #1975ff;
    font-weight: 900;
}

/*End of header*/

.d-cont{
    display: flex;
}
.d-menu{
    display: flex;
    flex-direction: column;
    padding: 5vh 2.5vw;
    color: #1975ff;
    width: 12vw;
    height: 100%;
    border-right: 1px #1975ff solid;
    /* background-color: forestgreen; */
}
.d-menu-item{
    display: flex;
    gap: .5vw;
    margin:2vh 0px;
}

.d-menu-item a{
    text-decoration: none;
    color: #1975ff;
} 

.d-logout{
    color: red;
    margin-top:10vh;
    margin-right: 0;
    margin-left: auto;
}




#d-main{
    width: 59.5vw;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-around;
    flex-direction: column; 
    padding: 0px .1vw; 
    border-left: solid #1975ff 1px;
}
.fast-analytics{
    color: #1975ff;
    margin-top: 30px;
    padding:20px;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5vw;
    align-items: baseline;
    /* border: 1px #1975ff solid; */
}
.monthly--analytics{
    background-color: rgb(214, 214, 214);
    padding: .5vw;
}
#new-blog-indicator{
    /* text-decoration: underline; */
    text-align: center;
    padding-bottom: 10px;
}
.add-blog{
    color: #1975ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: slateblue; */
    width: 60%;
    margin: 5vh auto;
    border: 1px #1975ff solid;
}
#blog-inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
input,textarea{
    border: none;
    padding-left: 1vw;
}
input{
    border-bottom: 1px solid #000;
}
textarea{
    border-top: 1px solid #000;
}
input:focus,
textarea:focus{
    border: none;
    outline: none;
}

.fa-image{
    font-size: 4vh;
}
#blog-image-p{
    margin-left:1vw ;
}
#blog-submit-btn{
    width: 6vw;
    margin-right: 1vw;
    margin-left: auto;
    margin-top: -4vh;
    margin-bottom: 1vh;
}
#add-blog-error{
    color: red;
    background-color: wheat;
    font-size: 12px;
    padding: 0 5%;
}
input[type="file"]{
    opacity: 0;
}




.blog-management{
    display: flex;
    justify-content: space-between;
    margin-top: 2vh;
    /* border: 1px #1975ff solid; */
}
.high-blogs{
    width: 35vw;
    display: flex;
    flex-direction: column;
    /* background-color: lawngreen; */
}

.high-cont{
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    /* border: 1px #1975ff solid; */
}
.high-cont h3{
    text-align: center;
    color: #1975ff;
}
.high-blog-item{
    display: flex;
    justify-content: center;
    border: 1px #1975ff solid;
    /* background-color: antiquewhite; */
}
.high-img{
    /* background-color: aqua; */
    width: 20%;
    height: 100%;
}
.high-img img{
    width: 100%;
    height: 100%;
}
.high-text{
    flex: 1;
    padding-left: 1vw;
    width: 9vw;
    height: fit-content;
}
.high-icons-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .5vw;
    align-content: baseline;
}
.fa-square-arrow-up-right{
    color: #1975ff;
}
.r-blog-manage-icons .fa-square-pen{
    color: green;
}
.high-icons .fa-square-pen{
    color: green;
}
.fa-trash{
    color: red;
}
.fa-thumbs-up,.fa-comments{
    color: #1975ff;
}
.manage-icons{
    display: flex;
    justify-content: space-between;
    height: 100%;
    
}
.stats-icons{
   margin-top: 0vh; 
}







.d-recent-blogs{
    /* border: 1px #1975ff solid; */
    margin-left: 1vw;
    display: flex;
    flex-direction: column;
    width: 35vw;
}
.d-recent-blogs h3{
    text-align: center;
    color: #1975ff;
}
.d-recent-blogs-cont{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.d-recent-blog-item{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    width: 33vw;
    /* overflow-y: hidden; */
    border: 1px #1975ff solid;
    height: fit-content;
}

.r-blog-stat-icons{
    padding:0vw 1vw;
    margin-top: -1vh;
}
.r-blog-stat-icons .fa-solid{
    padding-left: 1vw;
}
.recent-blog-title{
    margin-top: -3vh;
    margin-left: .5vw;
    height: 18vh;
    width: 16vw;
    display: flex;
    justify-content:space-between ;
    flex-direction: column;
    padding: .5vh 0px 0vh 0px ;
    /* background-color: rebeccapurple; */
}
.r-blog-manage-icons{
    margin-top: .8vh;
    height: fit-content;
    font-size: 1.5vw;
    margin-right: .5vw;
    /* background-color: chartreuse; */
    padding: 0 2%;
    display: flex;
    justify-content: space-evenly;
    width: 20%;
}
.recent-blog-img{
    width: 9vw;
    /* background-color: aquamarine; */
}
.recent-blog-img img{
    width: 100%;
    height: 100%;
}
#d-view-more-blogs{
    width: 8vw;
    margin-right: auto;
    margin-left:auto ;
    margin-top: 2vh;
    padding: 1vh;
}

.scrollable{
    height: 100vh;
    overflow-y: auto;
}
.scrollable::-webkit-scrollbar{
    display: none;
}
.d-sidebar{
    width:23vw;
    /* border: 1px #1975ff solid; */
}

#sidebar-cont{
    background-color: skyblue;
    height: fit-content;
    padding-bottom: 10vh;
}




.recent-messages{
    display: flex;
    flex-direction: column;
}
.recent-messages h3{
    text-align: center;
    color: #1975ff;
}
.d-m-item{
    margin-top: 1vh;
    border: 1px #1975ff solid;
    padding: 0 0 .1vh 0;
    height: fit-content;
    padding-bottom: 1vh;
}
.m-id{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-right: 0%;
    margin-left: auto;
    color: #1975ff;
}
.m-id .fa-envelope-open-text{
    color: rgb(1, 150, 1);
}
.m-id .fa-envelope{
    color: rgb(196, 0, 0);
}
.m-body{
    width: 90%;
    margin-right: 5%;
    margin-left: auto;
}


@media screen and (max-width:768px){
    #d-drop-left{
        display: block;
        }
    .drop-menu{
            display: block;

            /* background-color: forestgreen; */
        }
    .d-nav{
        height: fit-content;
        width: 100%;
        }
    .d-menu,
    .d-logo,
    .d-middle-header button,
    #user-name{
        display: none;
    }
    .d-cont{
        display: flex;
        flex-direction: column;
        /* background-color: wheat; */
        align-items: center;
        width: 100%;
        padding: 0px;
    }
    .d-main{
        background-color: aqua;
    }
    .blog-management{
        display: flex;
        flex-direction: column;
        margin-top: 0vh;
    }
    .d-user-info{
        width: 50%;
        padding: 0;
        /* height: 5%; */
        height: fit-content;
        position: relative;
        right: -50;
    }
    .d-user-info p{
        display: none;
    }
    #user-img{
        height: 10%;
        width: 10%;
        border-radius: 50%;
    }
    .d-middle-header{
        /* background-color: wheat; */
        width: fit-content;
        height: fit-content;
    }
    .d-nav{
        display: flex;
        justify-content: space-evenly;
        border-bottom: gray solid 2px;
        align-items: baseline;
        color: #fff;
        padding: 0;
    }
    .fast-analytics{
        color: #1975ff;
        margin-top: 30px;
        padding:10px;
        display: flex;
        width: 50vw;
        justify-content: space-evenly;
        font-size: 3vw;
        align-items: baseline;
        border: 1px #1975ff solid;
    }

    .add-blog{
        width: 100%;
    }
    .high-blogs{
        width: 100%;
    }

    .d-recent-blogs{
        border: 1px #1975ff solid;
        margin-top: 2vw;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .d-recent-blogs h3{
        text-align: center;
        color: #1975ff;
    }
    .d-recent-blogs-cont{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
    .d-recent-blog-item{
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        border: 1px #1975ff solid;
    }
    
    .r-blog-stat-icons{
        padding:0vw 1vw;
        margin-top: -1vh;
    }
    .recent-blog-title{
        margin-top: 0vh;
        margin-left: .5vw;
        height: fit-content;
        width: 70%;
        display: flex;
        justify-content:space-between ;
        flex-direction: column;
        padding: 0vh 0px 1vh 0px ;
    }
    .r-blog-manage-icons{
        align-self: baseline;
        margin-top: 2vh;
        height: fit-content;
        font-size: 2vw;
        margin-right: 1vw;
        align-self: baseline;
        width: 15%;
        /* background-color: chartreuse; */
    }
    .recent-blog-img{
        width: 9vw;
        /* background-color: aquamarine; */
    }
    .recent-blog-img img{
        width: 100%;
        height: 100%;
    }
    #d-view-more-blogs{
        width: fit-content;
        margin-right: auto;
        margin-left:auto ;
        margin-top: 2vh;
        padding: .5vh;
    }



    .d-sidebar{
        width:60%;
        border: 1px #1975ff solid;
        height: fit-content;
    }
    
    #sidebar-cont{
        background-color: skyblue;
        height: fit-content;
        padding-bottom: 10vh;
    }
    .recent-messages{
        display: flex;
        flex-direction: column;
    }
    .recent-messages h3{
        text-align: center;
        color: #1975ff;
    }
    .d-m-item{
        margin-top: 1vh;
        border: 1px #1975ff solid;
        padding: 0 0 .1vh 0;
        height: fit-content;
        padding-bottom: 1vh;
        width: 80%;
        align-self: center;
        margin: auto;
    }
    .m-id{
        display: flex;
        justify-content: space-between;
        width: 85%;
        margin-right: auto;
        margin-left: 15%;
        color: #1975ff;
        /* background-color: wheat; */
    }
    .m-id i{
        position: relative;
        margin-right: 0;
    }
    .m-id .fa-envelope-open-text{
        color: rgb(1, 150, 1);
    }
    .m-id .fa-envelope{
        color: rgb(196, 0, 0);
    }
    .m-body{
        width: 90%;
        margin-right: 5%;
        margin-left: auto;
    }

}

@media screen and (max-width:680px){
    #d-drop-left{
        font-size: 5vw;
    }
    .d-middle-header h1{
        font-size: 6vw;
    }
    .d-user-info{
        width: 30%;
    }
    .r-blog-manage-icons{
        align-self: baseline;
        margin-top: 2vh;
        height: fit-content;
        font-size: 5vw;
        margin-right: 1vw;
        align-self: baseline;
        width: 15%;
        /* background-color: chartreuse; */
    }
    .recent-blog-title{
        width: 40vw;
        padding-left: .5vh;
    }
    .high-img{
        height: 10vh;
        background-color: #1975ff;
        margin: auto;
    }
    .high-text{
        width: 80%;
        /* background-color: wheat; */
        padding-right: 1vw;
    }
    .manage-icons{
        /* background-color: #1975ff; */
        padding-bottom: 1.8vh;
        height: fit-content;
    }
    .d-m-item{
        margin-top: 1vh;
        border: 1px #1975ff solid;
        padding: 0 0 .1vh 0;
        height: fit-content;
        padding-bottom: 1vh;
        width: 95%;
        align-self: center;
        margin: auto;
    }
    .m-id{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-right: auto;
        margin-left: .5vw;
        color: #1975ff;
        /* background-color: wheat; */
    }
    .m-id i{
        position: relative;
        margin-right: 0;
    }
    #sidebar-cont{
        width: 100%;
        background-color: skyblue;
        height: fit-content;
        padding-bottom: 10vh;
    }
    .m-email{
        display: none;
    }
}
