body{                         /*032426  93FF4B*/
    margin: 0;
    padding: 0;
    background-color: #fff;
    color:#000;
}

/*Start of header*/

nav{
    padding: 0% 5% 0% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    
    background-color:#fff ;
}

.navlinks{
    display: flex;
    justify-content: space-between;
    
}
.navlinks a{
    padding: 10px;
    text-decoration: none;
    color:#000 ;

}
.navlinks a:hover{
    color:#1975FF;
}
.navlinks #home{
    text-decoration: overline;
}
#login-btn{
    font-size: 15px;
    padding: 10px;
    background-color: #1975ff9d;
    color: #fff;
    border: none;
}
#login-btn:hover{
    background-color: #1975ff;
}
.linked-btn a{
    color: #fff;
    text-decoration: none;
}
.linked-btn a:visited{
    color: #fff;
    text-decoration: none;
}

/*End of header*/

.blog-cont{
    display: flex;
    justify-content: space-around;
    width: 80vw;
    margin: 0px 5vw 0px auto;
    color: #fff;
    overflow: hidden;
}
.blog-main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 58vw;
    color: #000;
    margin-right: 1vw;
}

.blog-main-title{
    color: blue;
}
.blog-main-body{
    padding:0px 3%
}
.blog-main-img{
    width: 100%;
    height:50vh;
}
.blog-main-img img{
    width: 100%;
    height: 100%;
}

.scrollable{
    height: 100vh;
    overflow-y: auto;
}
.scrollable::-webkit-scrollbar{
    display: none;
}


.blog-comments{
    /* display: flex; */
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
    width: 10vw;
    color: #000;
}


.blog-comments h2{
    text-align: center;
    border-bottom: solid 2px #1975FF;
    
}
.comment-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.comments-cont{
    display: flex;
    flex-direction: column;
}
.comment-header{
    display: flex;
    justify-content: space-between;
    height: fit-content;
    font-size: 11px;
}
.c-name p{
    color: #1975FF;
}
.c-name{
    display: flex;
}
#p-pic{
    display: inline-block;
    width:80% ;
    height: 100%;
    background-color: gray;
    padding: 1px;
    border-radius: 50%;
    margin: 0px 5px;
    text-align: center;
}
.comment-item{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 1vh;
    padding: 0px 1vw;
    border: solid 1px #1975FF;
}
.comment-body{
    margin: 0;
}
.comment-analytics{
    display: flex;
    justify-content: space-evenly;
    color: #1975FF;
}

.comment-space-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    margin: auto;
    border: solid 1px gray;
    padding: 2%;
    margin-bottom: 20%;
}
#comment-send{
    width: 48%;
    margin-right: 0px;
    margin-left: auto;
    background-color: #1975FF;
    color: #fff;
    border: none;
}

