@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fasthand&display=swap');
body{
    padding: 0;
    margin: 0;
    font-family: "Quicksand",sans-serif;   
}
header{
    color: #1975FF;
    padding: 0px 40px;
}
#logo{
    text-decoration: none;
    color: #000;
    font-family: "Fasthand",sans-serif;
}
#logo:visited{
    text-decoration: none;
    color: #000;
}
/*Start of header*/

nav{
    width: 100%;
}
.nav-cont{
    padding: 0% 5% 0% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.dropdown-menu{
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 80px;
    right: 0vw;
    background-color: #908766;
    backdrop-filter: blur(10px);
    overflow: hidden;
    height: 0;
    transition: height .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#menu-btn{
    display: none;
}
.dropdown-menu.open{
    height: fit-content;
}
.dropdown-menu li{
    padding: .5vh .1vw;
    display: flex;
    align-items:center;
    justify-content: center;
    width: 30vw;
}
#logo{
    text-decoration: none;
    color: #000;
    font-family: "Fasthand",sans-serif;
}
#logo:visited{
    text-decoration: none;
    color: #000;
}
.navlinks{
    display: flex;
    justify-content: space-between;
    
}
.navlinks a,
li a{
    padding: 10px;
    text-decoration: none;
    color:#000 ;

}
.navlinks a:hover,
li a:hover{
    color:#1975FF;
}
.navlinks #home{
    text-decoration: overline;
}
#login-btn,
#login-btn2{
    font-size: 15px;
    padding: 10px;
    background-color: #1975ff9d;
    color: #fff;
    border: none;
}

#login-btn:hover,
#login-btn2:hover{
    background-color: #1975ff;
}
.linked-btn a,
.linked-btn2 a{
    color: #fff;
    text-decoration: none;
}
.linked-btn a:visited,
.linked-btn2 a:visited{
    color: #fff;
    text-decoration: none;
}

/*End of header*/

.login-container{
    padding: 20vh;
    display:flex;
    justify-content: center;
    width: 90vw;
    margin: auto;
}
.welcome-text{
     display: flex;
    justify-content: center;
    flex-direction: column; 
    text-align: center;
    width: 25vw;
    color:#1975FF;
    font-size: 50px;
    padding: 10vh 5vw;
}

.login-form{
    padding:10vh 1vw;
    background-color: #1975FF;
    align-content: center;
    width: 25vw;
    color: #fff;
    height: 50vh;
}
.login-form i{
    color: #1975FF;
}
.login-form input{
    width: 90%;
    border: none;
}
.auth-forms{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.input-field-cont{
    padding: 1vh 1vw;
    width: 70%;
}
.input-field{
    padding: 1vh .2vw;
    background-color: #fff;
    width: 100%;
}
#submit-btn{
    margin-top: 4vh;
    font-size: 1.1vw;
    padding: 2vh;
    background-color: #4844FC;
    border: none;
    color: #fff;
}
.login-from-login a{
    color: #fff;
    font-weight: 700;
}
.login-from-login a:visited{
    color: #fff;
    font-weight: 700;
}



/* 768px and 360 responsiveness*/

@media screen and (max-width:768px) {
        /*Start of header*/
        
            .navlinks,
        #login-btn{
            display: none;
        }
        #menu-btn{
            display: block;
        }
        .dropdown-menu{
            display: block;
        }
        
        /*End of header*/
    .welcome-text{
        display: none;
    }
    .login-container{
        padding: 0px;
        width: 100%;
        display: flex;
        align-items: flex-start;
        margin: 0px;
    }
    .login-form{
        background-color: #1975FF;
        align-content: center;
        width: 50%;
        color: #fff;
        height:50%;
        font-size: 2.5vw;
        margin-top: 2vh;
    }
    .input-field-cont{
        padding: 0vw;
        width: 80%;
        height: 50%;
    }
    .input-field{
        padding: 0vh 0vw;
        background-color: #fff;
        width: 100%;
        font-size: 2.1vw;
    }
    #submit-btn{
        margin-top: 5vh;
        font-size: 2.1vw;
        padding: .5vh;
        background-color: #4844FC;
        border: none;
        color: #fff;
    }
}

@media screen and (max-width:360px) {
    .welcome-text{
        display: none;
    }
    
    .login-form{
        padding:5vh 0px 0vw 0px;
        background-color: #1975FF;
        align-content: center;
        width: 60vw;
        color: #fff;
        height: 35vh;
        margin-bottom: 0;
        margin-top: 10vh;
        font-size: 3vw;
    }
    .input-field-cont{
        padding: 1vw;
        width: 60%;
        height: 80%;
    }
    #submit-btn{
        margin-top: 4vh;
        font-size: 12px;
        padding: 1vh;
        background-color: #4844FC;
        border: none;
        color: #fff;
    }
    .input-field{
        padding: 0px .01vw;
        background-color: #fff;
        width: 100%;
        font-size: 2.1vw;
    }
}